* {
  text-decoration: none !important;
}
html, body {
  height: 100%;
}
body {
  padding-top: 72px;
  @media (min-width: 768px) {
    padding-top: 90px;
  }
}
ul {
  list-style: none;
  padding-left: 0;
}

