// Logo
h1.layout-logo {
  line-height: 0;
  a {
    width: 24px;
    height: 24px;
    background: url('../images/logo2.svg') no-repeat center;
    background-size: contain;
    @include textHide;
    @media (min-width: 768px) {
      width: 174px;
      height: 42px;
      background: url('../images/logo.svg') no-repeat center;
    }
  }
}

// Navbar
.nav {
  &-link:hover {
    @include lg {
      color: $success !important;
    }
  }
  &-icon {
    padding-top: 2px;
  }
}

// Scroll-top Icon
.scrollTop {
  bottom: 16px;
  right: 16px;
  transform: translateY(80px);
  z-index: 10;
  &:hover {
    @include lg {
      opacity: 1 !important;
      transition: .3s;
    }
  }
  &.active {
    transform: translateY(0);
  }
}

// Modal
.modal {
  .login-btn:hover {
    @include lg {
      @include gradient-x-reverse;
    }
  }
}