// detail
.detail {
  .card-img {
    width: 100px;
    height: 100px;
  }
  .card-icon {
    font-variation-settings:'FILL' 1;
  }
  .list-corner {
    width: 10px;
    height: 10px;
  }
  .list-item:hover {
    color: $success !important;
    transition: .3s;
  }
  .list-item:hover .list-icon {
    @include lg {
      transform: scale(120%);
      transition: .3s;
    }
  }
  &-course ul li {
    list-style-type: square;
    &::marker {
      font-size: 5px;
      color: $success;
    }
  }
  .education {
    white-space: nowrap;
  }
}

// related
.related {
  .title-decoration {
    width: 50px;
  }
  .card:hover {
    @include lg {
      outline: 1px solid $success;
      transition: .3s;
    }
  }
}