// banner
.banner {
  height: 336px;
  background: url('../images/bg_home_mobile.jpg') no-repeat center;
  background-size: cover;
  @media (min-width: 768px) {
    height: 680px;
    // height: calc(100vh - 90px);
    background: url('../images/bg_home.jpg') no-repeat center;
    background-size: cover;
  }
}

// service
