// logo text hide
@mixin textHide {
  display: inline-block;
  white-space: nowrap;
  text-indent: 110%;
  overflow: hidden;
}

// responsive
@mixin sm {
  @media (min-width: 576px) {
    @content;
  }
}
@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin lg {
  @media (min-width: 992px) {
    @content;
  }
}
@mixin xl {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin xxl {
  @media (min-width: 1440px) {
    @content;
  }
}

// bootstrap mixin
// rounded
@mixin border-radius($radius: $border-radius, $fallback-border-radius: false) {
  @if $enable-rounded {
    border-radius: valid-radius($radius);
  }
  @else if $fallback-border-radius != false {
    border-radius: $fallback-border-radius;
  }
}

@mixin border-top-radius($radius: $border-radius) {
  @if $enable-rounded {
    border-top-left-radius: valid-radius($radius);
    border-top-right-radius: valid-radius($radius);
  }
}

@mixin border-end-radius($radius: $border-radius) {
  @if $enable-rounded {
    border-top-right-radius: valid-radius($radius);
    border-bottom-right-radius: valid-radius($radius);
  }
}

@mixin border-bottom-radius($radius: $border-radius) {
  @if $enable-rounded {
    border-bottom-right-radius: valid-radius($radius);
    border-bottom-left-radius: valid-radius($radius);
  }
}

@mixin border-start-radius($radius: $border-radius) {
  @if $enable-rounded {
    border-top-left-radius: valid-radius($radius);
    border-bottom-left-radius: valid-radius($radius);
  }
}

@mixin border-top-start-radius($radius: $border-radius) {
  @if $enable-rounded {
    border-top-left-radius: valid-radius($radius);
  }
}

@mixin border-top-end-radius($radius: $border-radius) {
  @if $enable-rounded {
    border-top-right-radius: valid-radius($radius);
  }
}

@mixin border-bottom-end-radius($radius: $border-radius) {
  @if $enable-rounded {
    border-bottom-right-radius: valid-radius($radius);
  }
}

@mixin border-bottom-start-radius($radius: $border-radius) {
  @if $enable-rounded {
    border-bottom-left-radius: valid-radius($radius);
  }
}

// gradient-bg
/* Horizontal gradient, from left to right */
@mixin gradient-x($start-color: $cyan, $end-color: $green, $start-percent: null, $end-percent: null) {
  background-image: linear-gradient(104deg, $start-color $start-percent, $end-color $end-percent);
}

/* Horizontal gradient, from left to right */
@mixin gradient-x-reverse($start-color: $green, $end-color: $cyan, $start-percent: null, $end-percent: null) {
  background-image: linear-gradient(104deg, $start-color $start-percent, $end-color $end-percent);
}

/* Vertical gradient, from top to bottom */
@mixin gradient-y($start-color: $cyan, $end-color: $green, $start-percent: null, $end-percent: null) {
  background-image: linear-gradient(180deg, $start-color $start-percent, $end-color $end-percent);
}
